<h2 class="text-center mt-4">Adicionar</h2>
<div class="form mt-5">
    <form>
        <div class="row">
            <div class="col">
                <label id="name" class="form-label">Nome Corretor(a)</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="col">
                <label id="calls" class="form-label">Ligações</label>
                <input type="number" id="calls" class="form-control">
            </div>
            <div class="col">
                <label id="visits" class="form-label">Visitas</label>
                <input type="number" id="calls" class="form-control">
            </div>
        </div>
    </form>
</div>